<!-- /.row-->
<div class="card">
  <div class="card-header">
    <h2>{{'Programs' | localize}}</h2>
  </div>
  <div class="card-body" id="container">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{'Search' | localize}}</div>
      </div>
      <input type="text" #searchInput [(ngModel)]="searchText" class="form-control form-control-lg" />
    </div>
    <table cdk-table [dataSource]="dataSourceFlt" matSort (matSortChange)="sortData($event)"
      class="table table-responsive-sm table-striped table-sm">
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="name" disableClear width="20%">{{'Homekit name' |
          localize}}</th>
        <td cdk-cell *cdkCellDef="let program"> {{program.name}} </td>
      </ng-container>

      <ng-container cdkColumnDef="nameInCCU">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="nameInCCU" disableClear width="20%">{{'HomeMatic name' |
          localize}}
        </th>
        <td cdk-cell *cdkCellDef="let program"> {{program.nameInCCU}} </td>
      </ng-container>

      <ng-container cdkColumnDef="instanceID">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="instanceNames" disableClear width="35%">{{'HAP Instance'
          | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let program"><span
            *ngFor="let instance of program.instanceNames | keyvalue">{{instance.value}} </span></td>
      </ng-container>

      <ng-container cdkColumnDef="control">
        <th cdk-header-cell *cdkHeaderCellDef width="25%"></th>
        <td cdk-cell *cdkCellDef="let program">
          <button type="button" class="btn btn-sm btn-success" routerLink='/appliance/{{program.address}}'>{{'Edit' |
            localize}}</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-danger" (click)="selectObject(program)" data-toggle="modal"
            attr.data-target="#{{confirmId}}">{{'Delete' |
            localize}}</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-primary" routerLink="/program/new"><span
        class="cil-plus btn-icon mr-2"></span>{{'Add new Program' |
      localize}}</button>
  </div>
</div>

<app-confirmation [dialogId]="confirmId" img="./assets/img/delete.svg" (confirm)="deleteProgram(selectedObject)">
  {{'Are you sure you want to remove %s from HomeKit?' |
  localize : [selectedObject ? selectedObject.name:'']}}</app-confirmation>
