<div class="card">
  <div class="card-header">
    <h2 *ngIf="selectedAppliance!==undefined">{{title | localize : [selectedAppliance.address]}}</h2>
  </div>
  <div class="card-body">
    <app-applianceproperties [selectedAppliance]="selectedAppliance" *ngIf="saveApplianceState === false">
    </app-applianceproperties>


    <app-newappliancewizzard-finish *ngIf="saveApplianceState===true"></app-newappliancewizzard-finish>

  </div>

  <div class="card-footer" id="container_footer">
    <div class="row">
      <div class="col-1">
        <button type="button" class="btn btn-sm btn-success" (click)="doSaveAppliance()"><span
            class="cil-chevron-circle-right-alt btn-icon mr-2"></span>{{'Save' |
          localize}}</button>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-sm btn-primary" (click)="goBack()"><span
            class="cil-x btn-icon mr-2"></span>{{'Dismiss' |
          localize}}</button>
      </div>
      <div class="col-10">
        <ul *ngIf="(validationResult!==undefined) && (validationResult.isValid===false)">
          <li *ngFor="let validationMessage of validationResult.messages">
            {{validationMessage.message| localize :
            [validationMessage.objectName]}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
