<div class="card">
  <div class="card-header">
    <h2 *ngIf="selectedAppliance!==undefined">{{'Edit device %s' | localize : [selectedAppliance.address]}}</h2>
  </div>
  <div class="card-body">
    <app-applianceproperties [selectedAppliance]="selectedAppliance" *ngIf="saveApplianceState === false">
    </app-applianceproperties>


    <app-newappliancewizzard-finish *ngIf="saveApplianceState===true"></app-newappliancewizzard-finish>

  </div>

  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-success" (click)="doSaveAppliance()"><span
        class="cil-chevron-circle-right-alt btn-icon mr-2"></span>{{'Save' |
      localize}}</button>
    &nbsp;
    <button type="button" class="btn btn-primary" routerLink="/devices"><span
        class="cil-x btn-icon mr-2"></span>{{'Dismiss' |
      localize}}</button>

  </div>
</div>
