<div class="card">
  <div class="card-header">
    <h2 *ngIf="this.wizzardFor==='HapDevice'">
      {{'Add new device' | localize}}
    </h2>
    <h2 *ngIf="this.wizzardFor==='HapVariable'">
      {{'Add new Variable' | localize}}
    </h2>
    <h2 *ngIf="this.wizzardFor==='HapProgram'">
      {{'Add new Program' | localize}}
    </h2>
  </div>

  <div class="card-body">
    <ng-container *ngIf="wizzardStep===0" id="container">

      <h5 *ngIf="this.wizzardFor==='HapDevice'" class="stepHeader">
        {{'Select one or more channel(s) to map to homekit' | localize}}
      </h5>

      <h5 *ngIf="this.wizzardFor==='HapVariable'" class="stepHeader">
        {{'Select one or more variable(s) to map to homekit' | localize}}
      </h5>

      <h5 *ngIf="this.wizzardFor==='HapProgram'" class="stepHeader">
        {{'Select one or more program(s) to map to homekit' | localize}}
      </h5>

      <div class="row">
        <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">
          <img *ngIf="this.wizzardFor==='HapDevice'" class="settingsImage" src="./assets/img/lightbulb.svg">
          <img *ngIf="this.wizzardFor==='HapVariable'" class="settingsImage" src="./assets/img/variable.svg">
          <img *ngIf="this.wizzardFor==='HapProgram'" class="settingsImage" src="./assets/img/program.svg">
        </div>

        <div class="col-12 col-md-8">
          <app-ccudevicelist *ngIf="this.wizzardFor==='HapDevice'" (selectionChanged)="deviceSelectionChanged($event)"
            [preselectedChannels]="preselectedChannels">
          </app-ccudevicelist>

          <app-ccuvariablelist *ngIf="this.wizzardFor==='HapVariable'"
            (selectionChanged)="deviceSelectionChanged($event)" [preselectedVariables]="preselectedChannels">
          </app-ccuvariablelist>

          <app-ccuprogramlist *ngIf="this.wizzardFor==='HapProgram'" (selectionChanged)="deviceSelectionChanged($event)"
            [preselectedVariables]="preselectedChannels">
          </app-ccuprogramlist>

        </div>
      </div>

      <br />
    </ng-container>
    <ng-container *ngIf="((wizzardStep > 0) && (finishWizzard===false))" id="container">
      <app-applianceproperties [selectedAppliance]="selectedAppliance">
      </app-applianceproperties>
    </ng-container>
    <app-newappliancewizzard-finish *ngIf="finishWizzard===true"></app-newappliancewizzard-finish>
  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-success" (click)="previousStep()"
      [attr.disabled]="canDoPrevious?null:'disabled'"><span
        class="cil-chevron-circle-left-alt btn-icon mr-2"></span>{{'Previous' |
      localize}}</button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="nextStep()" [attr.disabled]="canDoNext?null:'disabled'"><span
        class="cil-chevron-circle-right-alt btn-icon mr-2"></span>{{'Next' |
      localize}}</button>
    &nbsp;
    <button type="button" class="btn btn-info" (click)="finish()"
      [attr.disabled]="((canDoNext===false) && (wizzardStep>0))?null:'disabled'"><span
        class="cil-check btn-icon mr-2"></span>{{'Finish' |
      localize}}</button>
    &nbsp;
    <button type="button" class="btn btn-primary" (click)="dismissAddNew()"><span
        class="cil-x btn-icon mr-2"></span>{{'Dismiss' |
      localize}}</button>
    &nbsp;
    <span *ngIf="errorMessage!==undefined">{{errorMessage | localize}}</span>
  </div>
