.vscode
package-lock.json
.DS_Store
.nyc_output
coverage
node_modules
node_modules.nosync
tools
temp
lib/services/HomeMaticSmartSpeakerAccessory.js
lib/services/HomeMaticProgrammableSwitchAccessory.js
conf.d
testdeploycl.sh
testdeployall.sh
