.vscode
package-lock.json
.DS_Store
.nyc_output
coverage
node_modules
tools
temp
lib/services/HomeMaticSmartSpeakerAccessory.js
lib/services/HomeMaticProgrammableSwitchAccessory.js
client
dist
node_modules.nosync
test*.sh
conf.d
addon_installer/*
