<div class="card">
  <div class="card-header">
    <h2>{{'Backup' | localize}}</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img src="./assets/img/backup.svg" alt="">
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <h4>Create Backup</h4>
          </div>
        </div>
        <div class="row space">
          <div class="col-6">{{'The backup file contains all HAP instance and device settings' | localize}}</div>
          <div class="col-6">
            <button type="button" class="btn btn-sm btn-success" (click)="createBackup()">{{'Create Backup' | localize}}</button>
          </div>
        </div>

        <div class="row space odd">
          <div class="col-12">
            <h4>Restore Backup</h4>
          </div>
        </div>
        <div class="row odd">
          <div class="col-6">
          </div>
          <div class="col-6">
            <input type="file" class="file-input" accept=".gz" id="restoreFile" (change)="onSelectFile($event)" #fileUpload>
            <div class="file-upload">
              <button class="btn btn-sm btn-success"
                (click)="fileUpload.click()">
                <span class="cil-paperclip btn-icon mr-2"></span>
                {{'Select' | localize}}
              </button>

              {{fileName || "No file selected yet." | localize}}
              <br />

            </div>
          </div>
        </div>
        <div class="row space odd">
          <div class="col-6">
            <p *ngIf="isRestarting===true">{{'Restoring' | localize}}</p>
            <div class="progress" *ngIf="isRestarting===true">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-success" (click)="restore()">
              {{'Restore' | localize}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">

  </div>
