<div *ngIf="selectedAppliance">
  <div class="row">
    <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">
      <img class="settingsImage" src="./assets/img/settings.svg">
    </div>
    <div class="col-md-8">
      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label for="appliance_name">{{'Homekit Device name' | localize}}</label>
            <input id="appliance_name" type="text" #searchInput [(ngModel)]="selectedAppliance.name"
              class="form-control form-control-lg" />
          </div>
        </div>
        <div class="col-6 propertyDescription">
          {{'You may change the devicename as u like.' | localize}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="appliance_service">{{'Service' | localize}}</label>
            <dropdownmenu [dataSource]="serviceList" [keyLabel]="'serviceClazz'" [keyId]="'serviceClazz'"
              [selected]="selectedServiceClass ? selectedServiceClass.serviceClazz :''"
              (selectedChanged)="selectClazz($event)" id="appliance_service">
              {{'Select the service you want to use for this channel' | localize}}</dropdownmenu>
          </div>
        </div>
        <div class="col-6 propertyDescription" *ngIf="selectedServiceClass!==undefined">
          {{selectedServiceClass.description| localize}}
        </div>
      </div>

      <ng-container *ngIf="selectedServiceClass!==undefined">

        <div class="row" *ngFor="let prop of selectedServiceClass.settings | keyvalue">
          <div class="col-6">
            <div class="form-group">
              <label for="service_prop_{{prop.key}}">{{prop.value['label'] | localize}}</label>

              <dropdownmenu *ngIf="prop.value['type'] === 'option'" [listSource]="prop.value['array']"
                [selected]="getSettings(prop.key,prop.value['default'])"
                (selectedChanged)="saveSetting(prop.key,$event)" id="service_prop_{{prop.key}}">
                {{prop.value['default']}}</dropdownmenu>

              <settingsinput [id]="getID(prop.key)"
                *ngIf="prop.value['type'] === 'number' || prop.value['type'] === 'text'" type="text"
                [value]="getSettings(prop.key,prop.value['default'])"
                (change)="saveSetting(prop.key,$event.target['value'])" [validator]="applianceValidator">
              </settingsinput>

              <div class="form-check" *ngIf="prop.value['type'] === 'checkbox'">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="true"
                  [checked]="getSettings(prop.key,prop.value['default']) === 'true'" aria-label="..."
                  (change)="saveSetting(prop.key,$event.target['value'])">
              </div>

            </div>
          </div>
          <div class="col-6 propertyDescription">
            {{prop.value['hint'] | localize}}
          </div>
        </div>

      </ng-container>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="appliance_service">{{'Instance' | localize}}</label>
            <dropdownmenu [dataSource]="instanceList" [keyLabel]="'displayName'" [keyId]="'id'"
              [selected]="selectedAppliance.instanceID" (selectedChanged)="selectInstance($event)">{{'Please
              choose a HAP instance' | localize}}</dropdownmenu>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
