<div *ngIf="selectedAppliance">
  <div class="row">
    <div class="col-md-4 d-none d-md-block d-lg-block d-xl-block">
      <img class="settingsImage" src="./assets/img/settings.svg">
    </div>
    <div class="col-md-8">
      <div class="row">

        <div class="col-6">
          <div class="form-group">
            <label for="appliance_name">{{'Homekit Device name' | localize}}</label>
            <settingsinput id="appliance_name" name="appliance_name" ngDefaultControl
              [(ngModel)]="selectedAppliance.name" [validator]="applianceValidator">
            </settingsinput>
          </div>
        </div>
        <div class="col-6 propertyDescription">
          {{'You may change the devicename as u like.' | localize}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="appliance_service">{{'Service' | localize}}</label>
            <dropdownmenu [dataSource]="serviceList" [keyLabel]="'serviceClazz'" [keyId]="'serviceClazz'"
              [selected]="selectedServiceClass ? selectedServiceClass.serviceClazz :''"
              (selectedChanged)="selectClazz($event)" id="appliance_service" [validator]="applianceValidator">
              {{'Select the service you want to use for this channel' | localize}}</dropdownmenu>
          </div>
        </div>
        <div class="col-6 propertyDescription" *ngIf="selectedServiceClass!==undefined">
          {{selectedServiceClass.description| localize}}
        </div>
      </div>

      <ng-container *ngIf="selectedServiceClass!==undefined">

        <div class="row" *ngFor="let prop of selectedServiceClass.settings | keyvalue">
          <div class="col-6">
            <div class="form-group">
              <label for="service_prop_{{prop.key}}">{{prop.value['label'] | localize}}</label>

              <dropdownmenu *ngIf="prop.value['type'] === 'option'" [listSource]="prop.value['array']"
                [selected]="getSettings(prop.key,prop.value['default'])"
                (selectedChanged)="saveSetting(prop.key,$event)" id="service_prop_{{prop.key}}"
                [validator]="applianceValidator">
                {{prop.value['default']}}</dropdownmenu>

              <settingsinput [id]="getID(prop.key)" ngDefaultControl
                *ngIf="prop.value['type'] === 'number' || prop.value['type'] === 'text'" type="text"
                [ngModel]="getSettings(prop.key,prop.value['default'])" (ngModelChange)="saveSetting(prop.key,$event)"
                [validator]="applianceValidator">
              </settingsinput>

              <div class="form-check" *ngIf="prop.value['type'] === 'checkbox'">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="true"
                  [checked]="getSettings(prop.key,prop.value['default']) === 'true'" aria-label="..."
                  (change)="saveSetting(prop.key,$event.target['value'])">
              </div>

            </div>
          </div>
          <div class="col-6 propertyDescription">
            {{prop.value['hint'] | localize}}
          </div>
        </div>

      </ng-container>

      <div class="row" *ngFor="let instance of selectedAppliance.instances;let i = index">
        <div class="col-6">
          <div class="form-group">
            <label for="appliance_service">{{'%s. Instance' | localize : [i+1]}}</label>
            <div class="form-group-multi">
              <dropdownmenu [dataSource]="instanceList" [keyLabel]="'displayName'" [keyId]="'id'"
                [selected]="instance.id" (selectedChanged)="selectInstance(i,$event)">
                {{'Please choose a HAP instance' | localize}}</dropdownmenu>
              <button id="remove_{{instance.id}}" type="button" [disabled]="instance.remove === false"
                [class.disabled]="instance.remove === false" class="btn btn-sm btn-outline-dark"
                (click)="removeInstance(i,instance.id)">
                X</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <button type="button" (click)="addNewInstance()" class="btn btn-sm btn-secondary"><span
              class="cil-plus btn-icon mr-2"></span>
            {{'Add new Instance' | localize}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
