<!-- /.row-->
<div class="card">
  <div class="card-header">
    <h2>{{'Instances' | localize}}</h2>
  </div>
  <div class="card-body" id="container">
    <div class="input-group input-group-sm mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{'Search' | localize}}</div>
      </div>
      <input type="text" #searchInput [(ngModel)]="searchText" class="form-control form-control-lg" />
    </div>

    <table cdk-table [dataSource]="dataSourceFlt" matSort (matSortChange)="sortData($event)"
      class="table table-responsive-sm table-striped table-sm">

      <ng-container cdkColumnDef="room">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="room" disableClear>{{'Room' | localize}}</th>
        <td cdk-cell *cdkCellDef="let instance"> {{roomNamefromInstance(instance)}} </td>
      </ng-container>

      <ng-container cdkColumnDef="port">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="port" disableClear>{{'Port' | localize}}</th>
        <td cdk-cell *cdkCellDef="let instance"> {{instance.port}} </td>
      </ng-container>

      <ng-container cdkColumnDef="displayName">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="displayName" disableClear>{{'Homekit name' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let instance"> {{instance.displayName}} </td>
      </ng-container>

      <ng-container cdkColumnDef="pincode">
        <th cdk-header-cell *cdkHeaderCellDef>{{'PinCode' | localize}}</th>
        <td cdk-cell *cdkCellDef="let instance"> {{instance.pincode}} </td>
      </ng-container>

      <ng-container cdkColumnDef="control">
        <th cdk-header-cell *cdkHeaderCellDef width="25%"></th>
        <td cdk-cell *cdkCellDef="let instance">
          <button type="button" class="btn btn-sm btn-success" (click)="editObject(instance)">{{'Edit' |
            localize}}</button>
          &nbsp;
          <button *ngIf="instance.canDelete===true" type="button" class="btn btn-sm btn-danger"
            (click)="selectObject(instance)" data-toggle="modal" attr.data-target="#{{confirmId}}">{{'Delete'
            | localize}}</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <span *ngIf="noData===true">
      {{'No data' | localize}}
    </span>
  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-sm btn-primary" routerLink="/instances/new"><span
        class="cil-plus btn-icon mr-2"></span>{{'Add new Instance' |
      localize}}</button>
  </div>
</div>


<app-confirmation [dialogId]="confirmId" img="./assets/img/delete.svg" (confirm)="deleteInstance(selectedObject)">
  {{'Are you sure you want to remove %s? All your devices will be reassigned to the default Instance.' |
  localize : [selectedObject ? selectedObject.displayName:'']}}</app-confirmation>
