<!-- /.row-->
<div class="card">
  <div class="card-header">
    <h2>{{'Variables' | localize}}</h2>
  </div>
  <div class="card-body" id="container">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{'Search' | localize}}</div>
      </div>
      <input type="text" #searchInput [(ngModel)]="searchText" class="form-control form-control-lg" />
    </div>
    <table cdk-table [dataSource]="dataSourceFlt" matSort (matSortChange)="sortData($event)"
      class="table table-responsive-sm table-striped table-sm">
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="name" disableClear>{{'Homekit name' | localize}}</th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.name}} </td>
      </ng-container>

      <ng-container cdkColumnDef="nameInCCU">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="nameInCCU" disableClear>{{'HomeMatic name' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.nameInCCU}} </td>
      </ng-container>

      <ng-container cdkColumnDef="serviceClass">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="serviceClass" disableClear>{{'Service' | localize}}</th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.serviceClass}} </td>
      </ng-container>


      <ng-container cdkColumnDef="instanceID">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="instanceNames" disableClear>{{'HAP Instance' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let variable"><span
            *ngFor="let instance of variable.instanceNames | keyvalue">{{instance.value}} </span></td>
      </ng-container>

      <ng-container cdkColumnDef="control">
        <th cdk-header-cell *cdkHeaderCellDef width="25%"></th>
        <td cdk-cell *cdkCellDef="let variable">
          <button type="button" class="btn btn-sm btn-success" routerLink='/appliance/{{variable.address}}'>{{'Edit' |
            localize}}</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-danger" (click)="selectObject(variable)" data-toggle="modal"
            attr.data-target="#{{confirmId}}">{{'Delete' | localize}}</button>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="noData">
        <td mat-cell class="dc-label no-data-cell" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <span class="dc-content">No Customers</span>
        </td>
      </ng-container>


      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>



    </table>
    <span *ngIf="noData">
      {{'No data' | localize}}
    </span>

  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-primary" routerLink="/variable/new"><span
        class="cil-plus btn-icon mr-2"></span>{{'Add new Variable' |
      localize}}</button>
  </div>
</div>



<app-confirmation [dialogId]="confirmId" img="./assets/img/delete.svg" (confirm)="deleteVariable(selectedObject)">
  {{'Are you sure you want to remove %s from HomeKit?' |
  localize : [selectedObject ? selectedObject.name:'']}}</app-confirmation>
