<!-- /.row-->
<div class="card">
  <div class="card-header">
    <h2>{{'Variables' | localize}}</h2>
  </div>
  <div class="card-body" id="container">
    <div class="input-group input-group-sm mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{'Search' | localize}}</div>
      </div>
      <input type="text" #searchInput [(ngModel)]="searchText" class="form-control form-control-lg" />
    </div>
    <table cdk-table [dataSource]="dataSourceFlt" matSort (matSortChange)="sortData($event)"
      class="table table-responsive-sm table-striped table-sm">
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="name" disableClear>{{'Homekit name' | localize}}</th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.name}} </td>
      </ng-container>

      <ng-container cdkColumnDef="nameInCCU">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="nameInCCU" disableClear>{{'HomeMatic name' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.nameInCCU}} </td>
      </ng-container>

      <ng-container cdkColumnDef="serviceClass">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="serviceClass" disableClear>{{'Service' | localize}}</th>
        <td cdk-cell *cdkCellDef="let variable"> {{variable.serviceClass}} </td>
      </ng-container>


      <ng-container cdkColumnDef="instanceID">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="instanceNames" disableClear>{{'HAP Instance' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let variable"><span *ngFor="let instance of variable.instances">{{instance.name}}
          </span></td>
      </ng-container>

      <ng-container cdkColumnDef="controlEdit">
        <th cdk-header-cell *cdkHeaderCellDef width="12%"></th>
        <td cdk-cell *cdkCellDef="let variable">
          <button type="button" class="btn btn-sm btn-success" routerLink='/appliance/{{variable.address}}'>{{'Edit' |
            localize}}</button>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="controlDelete">
        <th cdk-header-cell *cdkHeaderCellDef width="12%"></th>
        <td cdk-cell *cdkCellDef="let variable">
          <button type="button" class="btn btn-sm btn-danger" (click)="selectObject(variable)" data-toggle="modal"
            attr.data-target="#{{confirmId}}">{{'Delete' | localize}}</button>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="noData">
        <td mat-cell class="dc-label no-data-cell" *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <span class="dc-content">No Customers</span>
        </td>
      </ng-container>


      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>



    </table>
    <span *ngIf="noData">
      {{'No data' | localize}}
    </span>

  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-primary" routerLink="/variable/new"><span
        class="cil-plus btn-icon mr-2"></span>{{'Add new Variable' |
      localize}}</button>
  </div>
</div>



<app-confirmation [dialogId]="confirmId" img="./assets/img/delete.svg" (confirm)="deleteVariable(selectedObject)">
  {{'Are you sure you want to remove %s from HomeKit?' |
  localize : [selectedObject ? selectedObject.name:'']}}</app-confirmation>


<div class="card">
  <div class="card-header">
    <h4>{{'Event Trigger' | localize}}</h4>
  </div>
  <div class="card-body">
    <p>{{'Unfortunately variables will not trigger a interface event when they are changed. So we have to to a little workaround to inform HAP when a variable will change its value.'|localize}}</p>
    <p>{{'Please choosse a virtual KEY which will be triggered by a ccu program on every variable change'|localize}}</p>
    <div class="form-group">
      <label for="variableTrigger">Datapoint</label>
      <select class="form-control" [(ngModel)]="currentTrigger" name="variableTrigger" id="variableTrigger">
        <option *ngFor="let key of virtualKeys" value="{{key.dp}}">{{key.name}} - {{key.dp}}</option>
      </select>
    </div>
    <p>{{'This has to be a KEY datapoint. All variables will be updated on an event at this KEY'|localize}}</p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [(ngModel)]="createHelper" id="createHelper" name="createHelper" value="true">
      <label class="form-check-label" for="createHelper">{{'Create/Update the CCU helper program.'|localize}}</label>
    </div>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary" (click)="updateVariableTrigger()"><span
        class="cil-save btn-icon mr-2"></span>{{'Save' |
      localize}}</button>
  </div>
</div>
