textarea
  width: 100%
  height: 100%

:host
  height: 100%
  display: flex
  flex-direction: column

.timestamp
  cursor: pointer

.crashdetail
  flex-direction: column
  display: flex

.deleteCol
  width: 30px

.flexRow
  flex-direction: row
  height: 100%

img
  width: 100%

.card-body
  border-top: 1px solid rgb(216, 219, 224)
