<div class="card">
  <div class="card-header">
    <h2>{{title | localize : [selectedInstance?selectedInstance.displayName:'']}}</h2>
  </div>
  <div class="card-body" id="container">
    <form *ngIf="selectedInstance">
      <div class="row">
        <div class="col-md-4 d-sm-none d-lg-none d-xl-block col-xl-5">
          <img id="instance" src="./assets/img/udsmart.svg" />
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="row">
            <div class="col-12">
              <label for="inlineFormInputGroup">{{'Instance name' | localize}}</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">HomeMatic</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup"
                  [value]="rebuildInstanceName(selectedInstance.displayName)" (change)="setInstanceName($event.target)">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div *ngIf="selectedInstance.pincode">
                <label for="inlineFormInputGroup">{{'PinCode' | localize}}</label>
                <div class="input-group mb-2">
                  <h1>{{selectedInstance.pincode}}</h1>
                </div>
              </div>
              <br />
              <div>
                <label for="inlineFormInputGroup">{{'Room' | localize}}</label>
                <dropdownmenu [dataSource]="roomList" [keyLabel]="'name'" [keyId]="'id'"
                  [selected]="selectedInstance.roomId" (selectedChanged)="selectRoom($event)">
                  {{'Select a room' | localize}}</dropdownmenu>
              </div>
              <br />
              <div>
                <div class="form-check">
                  <input [attr.disabled]="(selectedInstance.hasPublishedDevices===true)?'disabled':null"
                    class="form-check-input" type="checkbox" [(ngModel)]="selectedInstance.publishDevices"
                    name="publishDevices" id="publishDevices">
                  <label class="form-check-label" for="publishDevices">
                    {{'Include devices' | localize}}
                  </label>
                </div>
              </div>
              <br />
              <div>
                You can include the devices later. HomeKit will publish them into the same room as your instance.
                Publishing instances first without devices will make it easier to setup homekit.
              </div>
            </div>

          </div>

        </div>
        <div *ngIf="selectedInstance.pincode" class="col-md-6 col-sm-4 col-lg-4 col-xl-3" id="qrcontainer">
          <div class="homekitcode">
            <span>{{iconPin.substr(0,4)}}<br />{{iconPin.substr(4,8)}}</span>
            <qr-code id="setupQR" value="{{selectedInstance.setupURI}}" size="240" errorCorrectionLevel="H">
            </qr-code>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" id="container_footer">
    <div class="row">
      <div class="col-1">
        <button type="button" class="btn btn-sm btn-success" (click)="doSave()"><span
            class="cil-save btn-icon mr-2"></span>{{'Save' |
          localize}}</button>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-sm btn-primary" routerLink="/instances"><span
            class="cil-x btn-icon mr-2"></span>{{'Dismiss' |
          localize}}</button>
      </div>
      <div class="col-10" *ngIf="errorMessage!==undefined">{{errorMessage | localize}}</div>
    </div>
  </div>
</div>
