<!-- /.row-->
<div class="card">
  <div class="card-header">
    <h2>{{'Appliances' | localize}}</h2>
  </div>
  <div class="card-body" id="container">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">{{'Search' | localize}}</div>
      </div>
      <input type="text" #searchInput [(ngModel)]="searchText" class="form-control form-control-lg" />
    </div>

    <table cdk-table [dataSource]="dataSourceFlt" class="table table-responsive-sm table-striped table-sm" matSort
      (matSortChange)="sortData($event)">

      <ng-container cdkColumnDef="address">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="address" disableClear>{{'Address' | localize}}</th>
        <td cdk-cell *cdkCellDef="let device"> {{device.address}} </td>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="name" disableClear>{{'Homekit name' | localize}}</th>
        <td cdk-cell *cdkCellDef="let device"> {{device.name}} </td>
      </ng-container>

      <ng-container cdkColumnDef="serviceClass">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="serviceClass" disableClear>{{'Service' | localize}}</th>
        <td cdk-cell *cdkCellDef="let device"> {{device.serviceClass}} </td>
      </ng-container>

      <ng-container cdkColumnDef="instanceID">
        <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="instanceNames" disableClear>{{'HAP Instance' | localize}}
        </th>
        <td cdk-cell *cdkCellDef="let device"> {{device.instanceNames}} </td>
      </ng-container>

      <ng-container cdkColumnDef="control">
        <th cdk-header-cell *cdkHeaderCellDef width="25%"></th>
        <td cdk-cell *cdkCellDef="let device">
          <button type="button" class="btn btn-sm btn-success" routerLink='/appliance/{{device.address}}'>{{'Edit' |
            localize}}</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-danger" (click)="selectObject(device)" data-toggle="modal"
            attr.data-target="#{{confirmId}}">{{'Delete' | localize}}</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <app-pagination [maxRecords]="10" (pageChanged)="pageChanged">
    </app-pagination>

    <span *ngIf="noData===true">
      {{'No data' | localize}}
    </span>
  </div>
  <div class="card-footer" id="container_footer">
    <button type="button" class="btn btn-primary" routerLink="/device/new"><span
        class="cil-plus btn-icon mr-2"></span>{{'Add new device' |
      localize}}</button>
  </div>
</div>



<app-confirmation [dialogId]="confirmId" img="./assets/img/delete.svg" (confirm)="deleteDevice(selectedObject)">
  {{'Are you sure you want to remove %s from HomeKit?' |
  localize : [selectedObject ? selectedObject.name:'']}}</app-confirmation>
